<div class='homepage'>
  <div class='app-logo'>
    <h1 class="app-name">Budget<span class="buddy">Buddy</span></h1>
  </div>
  <div class='login-signup'>
    <button class='homepage-login'><%= link_to 'Log in', new_user_session_url, class: 'login-link' %></button>
    <button class= 'homepage-signup'><%= link_to 'Sign up', new_user_registration_url, class: 'signup-link' %></button>
  </div>
</div>

